<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vote.mapper.VoteResultMapper" >
  <resultMap id="BaseResultMap" type="com.vote.pojo.VoteResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vote_name" property="voteName" jdbcType="VARCHAR" />
    <result column="pk1_name" property="pk1Name" jdbcType="VARCHAR" />
    <result column="pk2_name" property="pk2Name" jdbcType="VARCHAR" />
    <result column="pk1_ticket" property="pk1Ticket" jdbcType="INTEGER" />
    <result column="pk2_ticket" property="pk2Ticket" jdbcType="INTEGER" />
    <result column="pk_result" property="pkResult" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, vote_name, pk1_name, pk2_name, pk1_ticket, pk2_ticket, pk_result, start_time, 
    end_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vote.pojo.VoteResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vote_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vote_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vote_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vote.pojo.VoteResultExample" >
    delete from vote_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vote.pojo.VoteResult" >
    insert into vote_result (id, vote_name, pk1_name, 
      pk2_name, pk1_ticket, pk2_ticket, 
      pk_result, start_time, end_time
      )
    values (#{id,jdbcType=INTEGER}, #{voteName,jdbcType=VARCHAR}, #{pk1Name,jdbcType=VARCHAR}, 
      #{pk2Name,jdbcType=VARCHAR}, #{pk1Ticket,jdbcType=INTEGER}, #{pk2Ticket,jdbcType=INTEGER}, 
      #{pkResult,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vote.pojo.VoteResult" >
    insert into vote_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="voteName != null" >
        vote_name,
      </if>
      <if test="pk1Name != null" >
        pk1_name,
      </if>
      <if test="pk2Name != null" >
        pk2_name,
      </if>
      <if test="pk1Ticket != null" >
        pk1_ticket,
      </if>
      <if test="pk2Ticket != null" >
        pk2_ticket,
      </if>
      <if test="pkResult != null" >
        pk_result,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="voteName != null" >
        #{voteName,jdbcType=VARCHAR},
      </if>
      <if test="pk1Name != null" >
        #{pk1Name,jdbcType=VARCHAR},
      </if>
      <if test="pk2Name != null" >
        #{pk2Name,jdbcType=VARCHAR},
      </if>
      <if test="pk1Ticket != null" >
        #{pk1Ticket,jdbcType=INTEGER},
      </if>
      <if test="pk2Ticket != null" >
        #{pk2Ticket,jdbcType=INTEGER},
      </if>
      <if test="pkResult != null" >
        #{pkResult,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vote.pojo.VoteResultExample" resultType="java.lang.Integer" >
    select count(*) from vote_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vote_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.voteName != null" >
        vote_name = #{record.voteName,jdbcType=VARCHAR},
      </if>
      <if test="record.pk1Name != null" >
        pk1_name = #{record.pk1Name,jdbcType=VARCHAR},
      </if>
      <if test="record.pk2Name != null" >
        pk2_name = #{record.pk2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.pk1Ticket != null" >
        pk1_ticket = #{record.pk1Ticket,jdbcType=INTEGER},
      </if>
      <if test="record.pk2Ticket != null" >
        pk2_ticket = #{record.pk2Ticket,jdbcType=INTEGER},
      </if>
      <if test="record.pkResult != null" >
        pk_result = #{record.pkResult,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vote_result
    set id = #{record.id,jdbcType=INTEGER},
      vote_name = #{record.voteName,jdbcType=VARCHAR},
      pk1_name = #{record.pk1Name,jdbcType=VARCHAR},
      pk2_name = #{record.pk2Name,jdbcType=VARCHAR},
      pk1_ticket = #{record.pk1Ticket,jdbcType=INTEGER},
      pk2_ticket = #{record.pk2Ticket,jdbcType=INTEGER},
      pk_result = #{record.pkResult,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vote.pojo.VoteResult" >
    update vote_result
    <set >
      <if test="voteName != null" >
        vote_name = #{voteName,jdbcType=VARCHAR},
      </if>
      <if test="pk1Name != null" >
        pk1_name = #{pk1Name,jdbcType=VARCHAR},
      </if>
      <if test="pk2Name != null" >
        pk2_name = #{pk2Name,jdbcType=VARCHAR},
      </if>
      <if test="pk1Ticket != null" >
        pk1_ticket = #{pk1Ticket,jdbcType=INTEGER},
      </if>
      <if test="pk2Ticket != null" >
        pk2_ticket = #{pk2Ticket,jdbcType=INTEGER},
      </if>
      <if test="pkResult != null" >
        pk_result = #{pkResult,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vote.pojo.VoteResult" >
    update vote_result
    set vote_name = #{voteName,jdbcType=VARCHAR},
      pk1_name = #{pk1Name,jdbcType=VARCHAR},
      pk2_name = #{pk2Name,jdbcType=VARCHAR},
      pk1_ticket = #{pk1Ticket,jdbcType=INTEGER},
      pk2_ticket = #{pk2Ticket,jdbcType=INTEGER},
      pk_result = #{pkResult,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>